/* main styles */

.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 10px;
    }
    
.info .info-banner img{
    width: 70px;
    height: 60px;
    }
.info-title{
    font-size: 7px;
}
.info-details{
    font-size: 5px;
    font-weight: bold;
} 
.container{
    margin-left: 65px;
    margin-right: 105px;
    margin-top: 30px;
}
.half-width{
    width: 100%;
    padding-left: 2%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.half-width img{
    width: 100%;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.link-button{
    text-decoration: none;
    background-color: red;
    padding: 2px 5px;
    color: white;
    font-weight: 20;
    border: red;
}
.flexible-container{
    display:flex;
    background-color: rgb(6, 61, 83);
}
footer img{
width: 20%;
margin-top: 10px;
margin-left: 10px;
margin-bottom: 0px;

}
footer p img{
    width: 5%;
    margin-left: 10px;
    margin-top: 0px;
}
footer{
    text-align: center;
    font-size: 5px;
}
.copa-america{
    display:flex;
}